# Django
*.log
*.pot
*.pyc
/site/
/htmlcov/
/coverage/
/build/
/dist/
/*.egg-info/
/env/
MANIFEST
coverage.*
__pycache__/
local_settings.py
db.sqlite3
*.sqlite3
media
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/