.MuiFormLabel-root {
  background-color: white !important;
  margin-left: -5px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
  font-size: 17px !important;
}

.MuiInputBase-root {
  height: 42px !important;
  border-radius: 5px !important;
  font-size: 1.2em !important;
}

.MuiOutlinedInput-notchedOutline {
  margin-top: 5px !important;
}

.rbt-input-wrapper {
  padding-top: 5px;
  padding-bottom: 5px;
}

.rbt-token {
  font-size: 1.25em;
}

.rbt-input-main {
  font-size: 1.25em;
}

#symptoms-selection {
  font-size: 1.25em !important;
}

.sensor-btn {
  height: 12em;
  width: 12em;
  border-radius: 50% !important;
}

.card-click {
  background-color: #1E88E5;
  color: white;
}

.travelMode-btn {
  flex-grow: 1;
  flex: 0.25;
}

#confirmation::-webkit-scrollbar {
  display: none;
}

#confirmation {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 10px;
}

#differential::-webkit-scrollbar,
#hospital-list::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 10px;
  background-color: #888;
}

#differential::-webkit-scrollbar-thumb,
#hospital-list::-webkit-scrollbar-thumb {
  background: #1E88E5;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #888;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1E88E5;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1E88E5;
  border-radius: 10px;
}

#temperature-modal,
#o2-modal,
#disease-modal {
  z-index: 20000;
  background-color: rgba(0, 0, 0, .75) !important;
  transform: scale(1);
}

.fade.show {
  background-color: rgba(0, 0, 0, .25) !important;
  transform: scale(1);
}

#arrow-btn {
  z-index: 4000;
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: -12.5%;
  transition: ease 0.5s;
}

#hospital-btn {
  z-index: 3000;
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: -20%;
  left: 45%;
  transition: ease 0.5s;
}

#text-btn {
  z-index: 3000;
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: -20%;
  right: 45%;
  transition: ease 0.5s;
}

#arrow-toggler:checked~#arrow-btn {
  bottom: -8%;
}

#arrow-toggler:checked~#overlay {
  display: block;
}

#arrow-toggler:checked+#arrow-btn {
  bottom: -8%;
}

#arrow-toggler:checked~#text-btn {
  bottom: 7.5%;
  right: 35%;
}

#arrow-toggler:checked~#hospital-btn {
  bottom: 7.5%;
  left: 35%;
}

nav-items:hover {
  color: white;
}

nav-items::selection {
  color: white;
}

#overlay {
  position: fixed;
  /* Sit on top of the page content */
  display: none;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black background with opacity */
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
}

.gm-iv-short-address-description {
  font-size: 1.5em !important;
}

.gm-iv-long-address-description {
  font-size: 1.2em !important;
}

.gm-iv-address-link {
  display: none;
}

.gmnoprint>div>div>span {
  display: none;
}

.gmnoprint>div>a {
  display: none;
}

.gm-style-cc>div>a {
  display: none;
}

.gm-style>div>div>a>div {
  display: none;
}

@media (min-width: 1366px) and (max-width: 2560px) {
  #arrow-btn {
    bottom: -9%
  }
}