{% extends 'management/management-base.html' %}
{% load static %}

{% block title %}
HEALTH KIOSK | Appointment
{% endblock %}

{% block content %}
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<style>
  .switch {
    position: relative;
    display: inline-block;
    width: 3em;
    height: 1.5em;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 1.1em;
    width: 1.1em;
    left: 0.3em;
    bottom: 0.2em;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked+.slider {
    background-color: #2196F3;
  }

  input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked+.slider:before {
    -webkit-transform: translateX(1.3em);
    -ms-transform: translateX(1.3em);
    transform: translateX(1.3em);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
</style>

<main class="">
  <h1 class="text-center" style="font-weight: bold;">APPOINTMENT</h1>
  <hr class="my-4 mx-4">

  {% for message in messages %}
  {% if form.errors %}
  {% for field in form %}
  {% for error in field.errors %}
  <div class="alert alert-danger alert-dismissible"
    style="z-index: 2; background-color: #C0392B; position: absolute; margin-left: 2em; right: 2em; top: 8em;">
    <strong>{{ error|escape }}</strong>
    <button type="button" class="close btn btn-interact text-white" data-dismiss="alert"
      style="position: absolute; top:0; right: -2.7em;"><i class="far fa-times-circle fa-1x text-white"></i></button>
  </div>
  {% endfor %}
  {% endfor %}
  {% endif %}
  {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
  <p class="alert alert-danger alert-link alert-dismissible text-white"
    style="z-index: 2; background-color: #C0392B; position: absolute; margin-left: 2em; right: 2em; top: 8em;">
    {{ message }}
    <button type="button" class="close btn btn-interact" data-dismiss="alert"
      style="position: absolute; top:0; right: -2.7em;"><i class="far fa-times-circle fa-1x text-white"></i></button>
  </p>
  {% else %}
  <p class="alert alert-success alert-link alert-dismissible text-white"
    style="z-index: 2; background-color: #27AE60; position: absolute; margin-left: 2em; right: 2em; top: 8em;">
    {{message}}
    <button type="button" class="close btn btn-interact" data-dismiss="alert"
      style="position: absolute; top:0; right: -2.7em;"><i class="far fa-times-circle fa-1x text-white"></i></button>
  </p>
  {% endif %}
  {% endfor %}

  <form method="POST">
    {% csrf_token %}

    {{ form.media }}

    <div class="form-group row" style="margin-left: 2em;">
      <div class="form-group row">
        <div class="col-md-8" style="margin-top:0.5rem; margin-bottom:0.5rem;">
          <label for="id_event_name">Patient Name</label>
          {{ form.patient }}
        </div>
        <div class="col-md-4" style="margin-top:0.5rem; margin-bottom:0.5rem;" style="align-items: center;">
          <label for="id_appointment_status">Appointment Status</label>
          {{ form.appointment_status }}
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-8" style="margin-top:0.5rem; margin-bottom:0.5rem;">
          <label for="id_event_name">Assigned Personnel</label>
          {{ form.assigned_personnel }}
        </div>
        <div class="col-md-4" style="margin-top:0.5rem; margin-bottom:0.5rem;">
          <label for="id_appointment_date">Date and Time</label>
          {{ form.appointment_date }}
        </div>
      </div>

      <div class="form-group row text-center m-0">
        <style>
          .input-group-text {
            padding-bottom: 1em !important;
            align-items: center !important;
          }
        </style>

        <div class="form-group row">
          <div class="col text-center" style="margin-top:0.5rem; margin-bottom:0.5rem;">
            <label for="id_message">Message</label>
            <br>
            {{ form.message }}
          </div>
        </div>
      </div>



      <div class="form-group row my-3">
        <div class="col-md-12"></div>
        <button type="submit" class="btn btn-primary form-control" style="font-weight: 800;">SAVE</button>
      </div>
    </div>

    </div>

  </form>
</main>


{% endblock %}