{% extends 'management/management-base.html' %}
{% load static %}

{% block title %}
HEALTH KIOSK | ADMIN: {{ request.user.username }}
{% endblock %}

{% block content %}

<main>
  <!-- start Popup -->
  {% for message in messages %}
  {% if form.errors %}
  {% for field in form %}
  {% for error in field.errors %}
  <div class="alert alert-danger alert-dismissible"
    style="z-index: 2; background-color: #C0392B; position: absolute; margin-left: 2em; right: 2em; top: 8em;">
    <strong>{{ error|escape }}</strong>
    <button type="button" class="close btn btn-interact text-white" data-dismiss="alert"
      style="position: absolute; top:0; right: -2.7em;"><i class="far fa-times-circle fa-1x text-white"></i></button>
  </div>
  {% endfor %}
  {% endfor %}
  {% endif %}
  {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
  <p class="alert alert-danger alert-link alert-dismissible text-white"
    style="z-index: 2; background-color: #C0392B; position: absolute; margin-left: 2em; right: 2em; top: 8em;">
    {{ message }}
    <button type="button" class="close btn btn-interact" data-dismiss="alert"
      style="position: absolute; top:0; right: -2.7em;"><i class="far fa-times-circle fa-1x text-white"></i></button>
  </p>
  {% else %}
  <p class="alert alert-success alert-link alert-dismissible text-white"
    style="z-index: 2; background-color: #27AE60; position: absolute; margin-left: 2em; right: 2em; top: 8em;">
    {{message}}
    <button type="button" class="close btn btn-interact" data-dismiss="alert"
      style="position: absolute; top:0; right: -2.7em;"><i class="far fa-times-circle fa-1x text-white"></i></button>
  </p>
  {% endif %}
  {% endfor %}
  <!-- end Popup -->

  <!-- transactions cards -->
  <div class="container-fluid">
    <div class="row">
      <div class="col container-fluid">
        <div class="card text-white bg-success mb-3 pb-1 shadow-sm rounded">
          <div class="card-header">
            <h6 class="card-title" style="font-weight: bold; text-transform: uppercase;">Completed</h6>
          </div>
          <div class="card-body d-flex">
            <i class="fa fa-check-circle fa-3x" aria-hidden="true"></i>
            <h5 class="card-title" style="font-size: 3rem; margin-left: 1rem; font-weight: bold;">
              <span style="font-size: 0.6em;">{{ completed }} <span style="font-size: 0.6em;">APPOINTMENTS</span></span>
            </h5>
          </div>
        </div>
      </div>

      <div class="col container-fluid">
        <div class="card text-white bg-primary mb-3 pb-1 shadow-sm rounded">
          <div class="card-header">
            <h6 class="card-title" style="font-weight: bold; text-transform: uppercase;">Pending</h6>
          </div>
          <div class="card-body d-flex">
            <i class="fas fa-clock fa-3x"></i>
            <h5 class="card-title" style="font-size: 3rem; margin-left: 1rem; font-weight: bold;">
              <span style="font-size: 0.6em;">{{ pending }} <span style="font-size: 0.6em;">APPOINTMENTS</span></span>
            </h5>
          </div>
        </div>
      </div>

      <div class="col container-fluid">
        <div class="card text-white bg-danger mb-3 pb-1 shadow-sm rounded">
          <div class="card-header">
            <h6 class="card-title" style="font-weight: bold; text-transform: uppercase;">Discarded</h6>
          </div>
          <div class="card-body d-flex">
            <i class="fa fa-minus-circle fa-3x"></i>
            <h5 class="card-title" style="font-size: 3rem; margin-left: 1rem; font-weight: bold;">
              <span style="font-size: 0.6em;">{{ discarded }} <span style="font-size: 0.6em;">APPOINTMENTS</span></span>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end transactions cards -->

  <div class="container-fluid">
    <h3 class="text-center my-3" style="font-weight: bold;">APPOINTMENTS</h3>
    <!-- records table -->
    <div class="my-2">
      <div>
        <table id="qlist" class="text-center" style="width: 100%;">
          <thead>
            <th>
              ID
            </th>
            <th>
              PATIENT
            </th>
            <th>
              APPOINTMENT DATE
            </th>
            <th>
              STATUS
            </th>
            <th></th>
            <th></th>
          </thead>

          {% for appointment in appointments %}
          <tr>
            <td>{{ appointment.id }}</td>
            <td>{{ appointment.patient.first_name }} {{ appointment.patient.last_name }}</td>
            <td>{{ appointment.appointment_date }}</td>
            <td>
              {% if appointment.appointment_status == "COMPLETE" %}
              <button class="btn btn-success">
                {{ appointment.appointment_status }}
              </button>
              {% elif appointment.appointment_status == "DISCARDED" %}
              <button class="btn btn-danger">
                {{ appointment.appointment_status }}
              </button>
              {% else %}
              <button class="btn btn-primary">
                {{ appointment.appointment_status }}
              </button>
              {% endif %}
            </td>
            <td>
              <a class="btn btn-interact text-white btn-warning"
                href="/management/patients/{{ appointment.patient.id }}/appointment/{{ appointment.id }}/update">Update</a>
            </td>
            <td>
              <form
                onsubmit="return confirm('WARNING: All the appointment information will be deleted in the process. Are you sure you want to delete the appointment record: {{ appointment.id }}?');"
                method="POST" action="{% url 'delete-appointment-record' appointment.patient.id appointment.id  %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-interact btn-danger">Delete</button><input type="hidden"
                  name="q_id" />
              </form>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    <!-- end records table -->
  </div>
</main>

<script>
  $(document).ready(function () {
    $('#qlist').DataTable({
      dom: 'Bfrltip',
      buttons: [
        {
          extend: 'csv',
          text: 'CSV',
          className: 'btn btn-default',
          exportOptions: {
            columns: 'th:not(:nth-last-child(-n + 2))'
          }
        },
        {
          extend: 'excel',
          text: 'Excel',
          className: 'btn btn-default',
          exportOptions: {
            columns: 'th:not(:nth-last-child(-n + 2))'
          }
        },
        {
          extend: 'pdf',
          text: 'PDF',
          className: 'btn btn-default',
          exportOptions: {
            columns: 'th:not(:nth-last-child(-n + 2))'
          }
        },
        {
          extend: 'print',
          text: 'Print',
          className: 'btn btn-default',
          exportOptions: {
            columns: 'th:not(:nth-last-child(-n + 2))'
          }
        },
      ],
      "lengthMenu": [[5, 10, 50, -1], [5, 10, 50, "All"]],
      "pagingType": "full_numbers",
      "pageLength": 5,
      "scrollX": true,
      "order": [[0, "desc"]]
    });
  });
</script>

{% endblock %}