{% extends 'management/management-base.html' %}
{% load static %}

{% block title %}
HEALTH KIOSK | ADMIN: {{ request.user.username }}
{% endblock %}

{% block content %}

<main>
  <!-- start Popup -->
  {% for message in messages %}
  {% if form.errors %}
  {% for field in form %}
  {% for error in field.errors %}
  <div class="alert alert-danger alert-dismissible"
    style="z-index: 2; background-color: #C0392B; position: absolute; margin-left: 2em; right: 2em; top: 8em;">
    <strong>{{ error|escape }}</strong>
    <button type="button" class="close btn btn-interact text-white" data-dismiss="alert"
      style="position: absolute; top:0; right: -2.7em;"><i class="far fa-times-circle fa-1x text-white"></i></button>
  </div>
  {% endfor %}
  {% endfor %}
  {% endif %}
  {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
  <p class="alert alert-danger alert-link alert-dismissible text-white"
    style="z-index: 2; background-color: #C0392B; position: absolute; margin-left: 2em; right: 2em; top: 8em;">
    {{ message }}
    <button type="button" class="close btn btn-interact" data-dismiss="alert"
      style="position: absolute; top:0; right: -2.7em;"><i class="far fa-times-circle fa-1x text-white"></i></button>
  </p>
  {% else %}
  <p class="alert alert-success alert-link alert-dismissible text-white"
    style="z-index: 2; background-color: #27AE60; position: absolute; margin-left: 2em; right: 2em; top: 8em;">
    {{message}}
    <button type="button" class="close btn btn-interact" data-dismiss="alert"
      style="position: absolute; top:0; right: -2.7em;"><i class="far fa-times-circle fa-1x text-white"></i></button>
  </p>
  {% endif %}
  {% endfor %}
  <!-- end Popup -->

  <!-- records table -->
  <div class="container-fluid my-2">
    <h3 class="text-center my-3" style="font-weight: bold;">PATIENT RECORDS</h3>
    <div>
      <table id="qlist" style="width: 100%;">
        <thead>
          <th>
            NAME
          </th>
          <th>
            BIRTHDAY
          </th>
          <th>
            CONTACT
          </th>
          <th>
            SYMPTOMS
          </th>
          <!-- <th>
            DIFFERENTIALS
          </th> -->
          <th>
            VITAL SIGNS
          </th>
          <th>
            DATE ADDED
          </th>
          <th></th>
          <th></th>
        </thead>

        {% for patient in patients %}
        <tr>
          <td>{{ patient.first_name }} {{ patient.last_name }}</td>
          <td>{{ patient.birth_date }}</td>
          <td>{{ patient.contact_no }}</td>
          <td style="font-size: 0.75em;">
            <ul class="list-group">
              {% for symptom in patient.symptoms %}
              <li class="list-group-item">
                {% if forloop.last %}
                {{ symptom }}
                {% else %}
                {{ symptom }}<span style="display: none;"> | </span>
                {% endif %}

              </li>
              {% endfor %}
            </ul>
          </td>
          <!-- <td style="font-size: 0.75em;">
            <ul class="list-group">
              {% for differential in patient.differentials %}
              <li class="list-group-item">
                {% if forloop.last %}
                {{ differential }}
                {% else %}
                {{ differential }}<span style="display: none;"> | </span>
                {% endif %}

              </li>
              {% endfor %}
            </ul>
          </td> -->
          <td style="font-size: 0.75em;">
            <ul class="list-group">
              <li class="list-group-item">
                <i class="fas fa-thermometer-quarter"></i> <b>Temperature:</b> {{ patient.temperature }} °C
              </li>
              <span style="display: none;"> | </span>
              <li class="list-group-item">
                <i class="fas fa-heartbeat"></i> <b>Pulse Rate:</b> {{ patient.pulse_rate }} bpm
              </li>
              <span style="display: none;"> | </span>
              <li class="list-group-item">
                <i class="fas fa-tint"></i> <b>Systolic BP:</b> {{ patient.systolic_bp }} mmHg
              </li>
              <span style="display: none;"> | </span>
              <li class="list-group-item">
                <i class="fas fa-tint"></i> <b>Diastolic BP:</b> {{ patient.diastolic_bp }} mmHg
              </li>
              <span style="display: none;"> | </span>
              <li class="list-group-item">
                <i class="fas fa-wind"></i> <b>O<sub>2</sub> Saturation:</b> {{ patient.o2_saturation }} %
              </li>
            </ul>
          </td>
          <td>{{ patient.date_added }}</td>
          <td>
            <a class="btn btn-interact btn-primary" href="/management/patients/{{ patient.id }}/details">Details</a>
          </td>
          <td>
            <form
              onsubmit="return confirm('WARNING: All the patient information will be deleted in the process. Are you sure you want to delete the patient record: {{ patient.id }}?');"
              method="POST" action="{% url 'delete-patient-record' patient.id  %}">{% csrf_token %}
              <button type="submit" class="btn btn-interact btn-danger">Delete</button><input type="hidden"
                name="q_id" />
            </form>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <!-- end records table -->
</main>

<script>
  $(document).ready(function () {
    $('#qlist').DataTable({
      dom: 'Bfrltip',
      buttons: [
        {
          extend: 'csv',
          text: 'CSV',
          className: 'btn btn-default',
          exportOptions: {
            columns: 'th:not(:nth-last-child(-n + 2))'
          }
        },
        {
          extend: 'excel',
          text: 'Excel',
          className: 'btn btn-default',
          exportOptions: {
            columns: 'th:not(:nth-last-child(-n + 2))'
          }
        },
        {
          extend: 'pdf',
          text: 'PDF',
          className: 'btn btn-default',
          exportOptions: {
            columns: 'th:not(:nth-last-child(-n + 2))'
          }
        },
        {
          extend: 'print',
          text: 'Print',
          className: 'btn btn-default',
          exportOptions: {
            columns: 'th:not(:nth-last-child(-n + 2))'
          }
        },
      ],
      "lengthMenu": [[5, 10, 50, -1], [5, 10, 50, "All"]],
      "pagingType": "full_numbers",
      "pageLength": 10,
      "scrollX": true,
      "order": [[0, "desc"]]
    });
  });
</script>

{% endblock %}