{% extends 'management/base.html' %}
{% load static %}

{% block title %}
HEALTH KIOSK | Password Reset Complete
{% endblock %}

{% block content %}
<div>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h3 class="text-center">Password Reset Complete!</h3>
            <br />

            <form class="form-signin">
              <div class="row">
                <div class="form-label-group" style="text-align: center">
                  <p>
                    You may now login to your account with your new password.
                  </p>
                </div>
              </div>

              <a name="Go home" class="btn text-uppercase" href="{% url 'login' %}" style="width: 100%;">Return to
                Login</a>
              <hr class="my-4" />
            </form>

            <p class="text-center">
              Don't have an account yet?
              <a href="{% url 'register' %}" style="text-decoration: none;">Sign Up</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}