{% extends 'management/base.html' %}
{% load static %}

{% block title %}
HEALTH KIOSK | Password Reset Form
{% endblock %}

{% block content %}
{% if validlink %}

<div>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h3 class="text-center">Reset Password</h3>
            <br />

            <form class="form-signin" method="POST">
              {% csrf_token %}

              <div class="row">
                <div class="form-label-group">
                  {{ form.new_password1 }}
                  <label for="new_password">Enter your new password</label>
                </div>
              </div>

              <div class="row">
                <div class="form-label-group">
                  {{ form.new_password2 }}
                  <label for="new_password2">Confirm your new password</label>
                </div>
              </div>

              <button name="Reset Password" class="btn text-uppercase" type="submit" style="width: 100%;">
                Confirm Password Reset
              </button>

              {% if form.errors %}
              {% for field in form %}
              {% for error in field.errors %}
              <div class="alert alert-danger my-3">
                <strong>{{ error|escape }}</strong>
              </div>
              {% endfor %}
              {% endfor %}
              {% else %}
              <br />
              {% endif %}

              <hr class="my-4" />
              <p class="text-center">
                Remember your account?
                <a href="{% url 'login' %}" style="text-decoration: none;">Login</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const pass = document.querySelectorAll('input[type="password"]');
  pass.forEach((e) => {
    e.classList.add("form-control");
  });
</script>

{% else %}

<div>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h3 class="text-center">Password Reset Unsuccessful</h3>
            <br />

            <form class="form-signin">
              <div class="row">
                <div class="form-label-group" style="text-align: center">
                  <p>
                    This password reset link is invalid. This might be
                    possible because the link has already been used. Please
                    request a new password reset form.
                  </p>
                </div>
              </div>

              <a name="Go home" class="btn text-uppercase" href="{% url 'reset_password' %}" style="width: 100%;">Reset
                Password Again</a>
              <hr class="my-4" />
            </form>

            <p class="text-center">
              Remember your account?
              <a href="{% url 'login' %}" style="text-decoration: none;">Login</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endif %}

{% endblock %}